body {
    margin: 0;
    padding: 0;

}



#mainMenu {
    background-image: url("6.jpg");
    height: 350px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

}

.mainContent {
    margin-top: 170px;
    color: white;

}

.mainContent h1 {
    font-size: 60px;
}

.details{
    margin: 50px auto 30px auto;
    width: 90%;
}

.details h4{
    color:#353535;
    font-size: 34px;
}
.details p {
    color: #555555;
    font-size: 19px;
}

#syntheticColorSection {
    margin: 40px auto 20px auto;
    width: 90%;
}

table {
    width: 100%;
    margin: 10px auto;
}

table,
th,
td {
border: 1px solid rgb(197, 197, 197);
    padding: 10px;
    text-align: center;
    color: #3d3d3d;
    font-size: 14px;
    background-color: #fcfcfc;
}


.sc1 {
    width: 130px;
    background-color: #FFFF00;

}

.sc2 {
    width: 130px;
    background-color: #FFFF99;
}

.sc3 {
    width: 130px;
    background-color: #FFCC00;
}

.sc4 {
    width: 130px;
    background-color: #FF0000;
}

.sc5 {
    width: 130px;
    background-color: #FF0000;
}

.sc6 {
    width: 130px;
    background-color: #FF0000;
}

.sc7 {
    width: 130px;
    background-color: #FF8080;
}

.sc8 {
    width: 130px;
    background-color: #FF0000;
}
.sc9 {
    width: 130px;
    background-color: #333399;
}
.sc10 {
    width: 130px;
    background-color: #333399;
}
.sc11 {
    width: 130px;
    background-color: #000080;
}
.sc12 {
    width: 130px;
    background-color: #008080;
}
.sc13 {
    width: 130px;
    background-color: #800000;
}
.sc14 {
    width: 130px;
    background-color: #000000;
}
.sc15 {
    width: 130px;
    background-color: #FF0000
}
